[ 문제 1 ] ---------------------------------------------------------------------

"mon", "tue", "wed", "thu", "fri", "sat", "sun"로 구성된 리스트 days를
map() 함수와 람다식만 사용하여 대문자로 변환된 리스트를 생성하시오.

**출력예시:**


```
['MON', 'TUE', 'WED', 'THE', 'FRI', 'SAT', 'SUN']
```

In [4]:

days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]

result = list(map(lambda n : n.upper(), days))

print(result)

['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']

[ 문제 2 ] ---------------------------------------------------------------------

"mon", "tue", "wed", "thu", "fri", "sat", "sun"로 구성된 리스트 days를
map() 함수와 람다식만 사용하여 첫 글자만 대문자로 변환된 리스트를 생성하시오.


**출력예시:**


```
['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
```

(Hint: 람다식안에 슬라이싱과 병합을 활용할 수 있다.)

In [6]:
days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]


result = list(map(lambda n : n[0].upper()+n[1]+n[2], days))

print(result)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

[ 문제 3 ] ---------------------------------------------------------------------

2부터 100까지 숫자로 된 리스트 nums로 부터 filter() 함수를 이용하여 소수만 뽑아내는 코드를 작성하시오.

출력예시:


```
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
```

In [19]:
def f(x):
    for i in range (2,x-1):
      if x % i == 0 :  
        return False
    return True

nums = list(range(2, 101))

result = filter(f, nums)
print(list(result))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

[ 문제 4 ] ---------------------------------------------------------------------

이름과 수학성적, 영어성적을 나타내는 세 개의 리스트 names, math_scores, eng_scores를 zip() 함수를 이용해 하나의 students 리스트로 만들고,
sorted와 람다식을 활용해 평균 성적이 오름차순으로 정렬된 결과를 출력하시오. 

출력예시:


```
[('이정진', 20052876, 30, 60), ('최종헌', 20152015, 99, 25), ('신사임당', 20103500, 59, 100), ('홍길동', 20014876, 80, 80)]
```

In [27]:
names = ["이정진", "최종헌", "홍길동", "신사임당"]
math_scores = [30, 99, 80, 59]
eng_scores = [60, 25, 80, 100]

students = list(zip(names, math_scores, eng_scores))
print(sorted(students, key=lambda x: x[1]+x[2]))

[('이정진', 30, 60), ('최종헌', 99, 25), ('신사임당', 59, 100), ('홍길동', 80, 80)]

[ 문제 5 ] ---------------------------------------------------------------------

"for문", "map()+람다식", "map()+함수"의 성능을 비교해보자.

2천만개의 숫자로 구성된 리스트 nums의 각 요소들을 제곱하는 명령문을
 

1.   for문을 활용하여 구현
2.   map()와 람다식을 활용하여 구현
3.   map()와 함수를 활용하여 구현

세 가지 형태로 구현해보고 time 모듈을 활용해 각각 걸린 시간을 출력해보자.

출력예시:*italicized text*


```
for문 연산 속도:  7.860635280609131
map+람다식 연산 속도:  6.659299373626709
map+함수 연산 속도:  6.753660440444946
```

In [42]:
import time

def mult(x) :
  return x*x


nums_one = list(range(20000000))

start_one = time.time()
one = []
for i in nums_one :
  one.append(i*i)
end_one = time.time()
print(end_one-start_one)

nums_two = list(range(20000000))

start_two = time.time()
two = list(map(lambda x:x*x, nums_two))
end_two = time.time()
print(end_two-start_two)

nums_three = list(range(20000000))

start_three = time.time()
three = list(map(mult, nums_three))
end_three = time.time()
print(end_three-start_three)

4.840660095214844
2.591324806213379
2.508965253829956

[ 문제 6 ] ---------------------------------------------------------------------

range()함수와 유사한 이터레이터 클래스 myRange를 작성해보자.

클래스 low, high, step, mulplier 4개의 인자로 초기화된다. 각각 인자에 대한 설명은 다음과 같다.
*  low: 시작 정수
*  high: 종료 조건 정수 
*  step: 반복할 때 마다 증가하는 양
*  multiplier: 반환되는 수에 곱해지는 정수

출력예시: 
```
3 9 15 21 27 
```

(Hint: 강의자료 39p 예제 참고)

In [38]:
class myRange:
  def __init__(self,low, high, step, multiplier) :
    self.current = low
    self.high = high
    self.step = step
    self.mult = multiplier
  
  def __iter__ (self):
    return self

  def __next__ (self) :
    if self.current > self.high :
      raise StopIteration
    else :
      self.current += self.step
      return (self.current - self.step) * self.mult

for i in myRange(1, 10, 2, 3):
   print(i, end=" ")

3 9 15 21 27